<%- include('header'), {seoDetails, pathPart} %>

<main id="main-blog">
  <section id="home-blogs">
    <div class="blog-container" id="blog-container">
      <%- include('./partials/blogpost.ejs') %>
    </div>
   </section>
</main>
   <%- include('footer') %>
