<%- include('header'), {seoDetails,category, pathPart} %>

<body id="service-body">
    <main id="main-service">
        <%- include('./partials/servicescontent.ejs') %>
    </main>
</div>

<%- include('footer'), { pathPart} %>